
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  color: @text-color;
  background-color: @tree-view-background-color;

  .list-item.selected {
  }

  .file{
    transition: 0.5s;

  .icon::before{
    color:red;
  }
      &.selected::before{
        transition: 0.5s;
        background: -webkit-linear-gradient(left, rgba(255,80,128,1) 7%, rgba(255,0,0,1) 42%, rgba(255,0,78,1) 72%, rgba(255,80,128,1) 92%);
        background: -o-linear-gradient(left, rgba(255,80,128,1) 7%, rgba(255,0,0,1) 42%, rgba(255,0,78,1) 72%, rgba(255,80,128,1) 92%);
        background: linear-gradient(to right, rgba(255,80,128,1) 7%, rgba(255,0,0,1) 42%, rgba(255,0,78,1) 72%, rgba(255,80,128,1) 92%);
        background-position: 250px;
      }

      &.selected {
        .icon::before{
          color:white !important;
        }
        color: white !important;
    }

  }
}




.atom-dock-resize-handle{
  z-index: 1;
  background-color: white !important;
  width: 5px !important;
  border-right:1px solid rgba(255, 0, 0, 0.25);
}
